$fire: #FF792E;
$white: #fff;
$black: rgba(#000000, 1);
$black20: rgba($black, .2);
$black60: rgba($black, .6);
$black80: rgba($black, .8);

$sl: 64px;
$sm: 32px;
$sms:16px;
$ss: 8px;
$sxs: 4px;

body {
  font-family: Arial, Helvetica, PingFangTC, Microsoft JhengHei, sans-serif;

}
